*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #5dff35;
	font-family: Arial;
}
#menu-screen{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100vh;
}
#menu-screen div button{
	width: 3em;
}
#menu-screen > div{
	margin: 0.2em 0;
}
#start-button{
	margin-top: 1em;
	width: 10em !important;
}
#menu-screen button, #menu-screen input{
	font-size: 12pt;
}
#card{
	position: absolute;
	background-color: #5dff35;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-size: 72pt;
}
#countDown{
	position: absolute;
	font-size: 36pt;
}
#main-screen{
	display: none;
	width: 100%;
	height: 100vh;
}